AILAB_API_TOKEN={{ ailab_core_assistant_api_token }}
AILAB_ASSISTANT_DATABASE_PASSWORD={{ ailab_core_assistant_database_password }}
AILAB_ASSISTANT_DATABASE_PORT={{ ailab_core_assistant_database_port }}
AILAB_ASSISTANT_PORT={{ ailab_core_assistant_port }}
AILAB_LITELLM_API_KEY={{ ailab_core_assistant_litellm_key }}
AILAB_EMBEDDING_MODEL={{ ailab_core_assistant_embedding_model }}
AILAB_EMBEDDING_DIMENSIONS={{ ailab_core_assistant_embedding_dimensions }}
AILAB_EMBEDDING_THREADS={{ ailab_core_assistant_embedding_threads }}
AILAB_SERVICE_UID={{ ansible_facts.getent_passwd['ailab'][1] }}
AILAB_SERVICE_GID={{ ansible_facts.getent_passwd['ailab'][2] }}
