RESEARCH_GATEWAY_API_KEY={{ ailab_research_gateway_api_key }}
DOCLING_API_KEY={{ ailab_docling_api_key }}
DOCLING_URL=http://docling:5001
SEARXNG_URL=http://searxng:8080
RESEARCH_MAX_RESPONSE_BYTES={{ ailab_research_gateway_max_response_bytes }}
RESEARCH_MAX_TEXT_CHARS={{ ailab_research_gateway_max_text_chars }}
RESEARCH_MAX_REDIRECTS={{ ailab_research_gateway_max_redirects }}
RESEARCH_TIMEOUT_SECONDS={{ ailab_research_gateway_timeout_seconds }}
RESEARCH_MAX_CONCURRENCY={{ ailab_research_gateway_max_concurrency }}
